<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><strong>Mondo Burger</strong></h1>
    <p class="lead">THE BEEFIEST BURGERS IN TOWN!</p>
  </div>
</div>
<div class='container'>
    <div class='row'>
        <div class='col'>

            <h3 class='rowTitle'>Burgers Ready to Devour</h3>

                <ul>
                    
                    {{#each burgers}}
                        {{#unless devoured}}
                            {{> burgers/burger-block devoured=false}}
                        {{/unless}}
                    {{/each}}

                </ul>

        </div>
        {{!-- <div class='col'></div> --}}
        <div class='col'>

            <h3 class='rowTitle'>Devoured Burgers</h3>

                <ul>
                    
                    {{#each burgers}}
                        {{#if devoured}}
                            {{> burgers/burger-block devoured=true}}
                        {{/if}}
                    {{/each}}

                </ul>

        </div> 

    </div>

    <div class='row'>

        <form class='create-form'>

                <textarea rows='4' cols='50' id='burgerSubmit'>

                </textarea> <br>

                <button type='submit' class='subButton' >Submit</button>

                <p>Enter the name of a burger that you would like to add!</p>

        </form>

    </div>

</div>




