<h1>Mondo Burger!</h1>

<h2>THE BEEFIEST BURGERS IN TOWN<h2>

<h3>Burgers Ready to Devour:</h3>

<ul>
    
    {{#each burgers}}
        {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
        {{/unless}}
    {{/each}}

</ul>

<h3>Devoured Burgers</h3>

<ul>
    
    {{#each burgers}}
        {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
        {{/if}}
    {{/each}}

</ul>

<form class='create-form'>

    <textarea rows='4' cols='50' id='burgerSubmit'>

    </textarea>

    <button type='submit'>Submit</button>

</form>

