<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 title"><strong>Mondo Burger</strong></h1>
    <p class="lead title">THE BEEFIEST BURGERS IN TOWN!</p>
  </div>
</div>
<div class='container'>
    <div class='row'>
        <div class='col'>

            <h3 class='rowTitle'>Burgers Ready to Devour</h3>

                <ul>
                    
                    {{#each burgers}}
                        {{#unless devoured}}
                            {{> burgers/burger-block devoured=false}}
                        {{/unless}}
                    {{/each}}

                </ul>

        </div> 
        {{!-- <div class='col'></div> --}}
        <div class='col'>

            <h3 class='rowTitle'>Devoured Burgers</h3>

                <ul>
                    
                    {{#each burgers}}
                        {{#if devoured}}
                            {{> burgers/burger-block devoured=true}}
                        {{/if}}
                    {{/each}}

                </ul>

        </div> 

    </div> <br><br>

    <div class='row'>

        <div class="col-md-6 offset-md-3">
            <form class='create-form'>

                    <textarea rows='1' cols='50' id='burgerSubmit'>

                    </textarea> <br>

                    <div class='row'>
                        <div class='col-md-4 offset-md-4'>
                            <button type='submit' class='subButton'>Submit</button>
                        </div>
                    </div> <br>
                    <div class='row caption'>
                        <p>Enter the name of a burger that you would like to add!</p>
                    </div>
            </form>
        </div>

    </div>

</div>




