.jumbotron {
    background-color: rgb(226, 50, 226);
    color: white;
    font-family: 'Sigmar One', cursive;
}

.title {
    text-align: center;
    font-family: 'Audiowide', cursive;
}

.container {
    align-content: center;
}

.rowTitle {
    text-align: center;
    font-family: 'Audiowide', cursive;
}

.name {
    color: rgb(226, 50, 226);
    text-align: center;
    font-family: 'Audiowide', cursive;
}

.nameFaded {
    color: #808080;
    text-align: center;
    font-family: 'Audiowide', cursive;
}

.devour {
    background: none;
    border: none;
    font-family: 'Prosto One', cursive;
}

.caption {
    text-align: center;
    font-family: 'Prosto One', cursive;
}

.subButton {
    background-color: rgb(226, 50, 226);
    color: white;
    font-family: 'Prosto One', cursive;
}