.jumbotron {
    background-color: rgb(226, 50, 226);
    color: white;
}

.container {
    align-content: center;
}

.rowTitle {
    text-align: center;
}

.name {
    color: red;
}

.nameFaded {
    color: #808080;
}

.devoured {
    color: blue;
}

.create-form {
    align-content: center;
}

.subButton {
    background-color: rgb(226, 50, 226);
    color: white;
}