{{#unless devoured}}
    <ul class='name'>
        {{burger_name}}

        <button class='devour' data-id='{{id}}' data-newdevour='{{devoured}}'>
            Devour me.
        </button>
    </ul>
{{/unless}}

{{#if devoured}}
    <ul class='nameFaded'>
        {{burger_name}}
    </ul>
{{/if}}





